@font-face {
  font-family: "Work Sans";
  src: url("./WorkSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./WorkSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./WorkSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
